{% extends "layout.html" %}

{% block title %}Documentation{% endblock %}
{% block description %}Complete documentation for maximizing your Kinbrio experience.{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block content %}
<div style="text-align: center">
  <img  decoding="async" loading="lazy" src="/fs/images/logo_transparent.png" width="320px" class="logo" alt="Kinbrio: working better together">
</div>    
<div style="background-color:rgba(175, 255, 255, 0.5); text-align: center; padding: 0 3% 0 3%; border-top: 2px solid #ffff008f;border-bottom: 2px solid #ffff008f;">
  <h1 style="text-decoration: underline; font-weight: bold;">Let's Get Started!</h1>
  <h2>From initial login to operating on all cylinders in no time!</h2>
</div>
<div class="container">
  <div class="row" style="justify-content: center;">
    <div class="card flex-center col-sm-12 col-md-12 col-lg-12"
      style="justify-content: center; text-align: center; max-width: 90%;">
      <p><b>Efficient Communication at Your Fingertips</b></p>
      <hr />
      <p>Communication is the lifeblood of any organization, and at Kinbrio, we take it seriously. Our platform offers
        real-time communication with voice, video, and screen sharing capabilities through the flexible Matrix
        protocol.
        Say goodbye to being tied to a single provider – with Matrix, you have the freedom to choose the web and
        desktop
        clients that best suit your preferences.</p>
    </div>
  </div>
  <div class="row" style="justify-content: center;">
    <div class="col-sm-12 col-md-6 col-lg-3 flex-center" style="justify-content: center; text-align: center">
      <div class="card">
        <p><b>Effortless Organization Management</b></p>
        <hr />
        <p>Manage your entire organization effortlessly with Kinbrio. From creating teams and communication channels to
          handling internal documentation and deploying branding and digital web presence, our intuitive dashboard puts
          you
          in control.</p>
      </div>
    </div>

    <div class=" col-sm-12 col-md-6 col-lg-3 flex-center" style="justify-content: center; text-align: center">
      <div class="card">
        <p><b>Seamless Project Management</b></p>
        <hr />
        <p>No more juggling endless tasks and milestones. With Kinbrio, project management becomes a breeze. Schedule,
          track
          status, and integrate with internal communications to keep everyone on the same page, always.</p>
      </div>
    </div>

    <div class=" col-sm-12 col-md-6 col-lg-3 flex-center" style="justify-content: center; text-align: center">
      <div class="card">
        <p><b>Empowering Accounting Management</b></p>
        <hr />
        <p>Keep your finances in check with ease. Kinbrio allows you to handle simple invoices and sales effortlessly.
          For
          more involved accounting needs, we integrate with Akaunting or let you host your own Instance using their open
          and
          freely available software.</p>
      </div>
    </div>

    <div class=" col-sm-12 col-md-6 col-lg-3 flex-center" style="justify-content: center; text-align: center">
      <div class="card">
        <p><b>Client, Customer, and Supplier Management Made Simple</b></p>
        <hr />
        <p>Effortlessly manage client and customer data, documentation, and notes with historical context. Kinbrio also
          enables secure and encrypted communication with clients through dedicated Matrix rooms. Meanwhile, supplier
          management becomes a breeze with seamless tracking, meeting, and reporting capabilities.</p>
      </div>
    </div>

    <div class=" col-sm-12 col-md-6 col-lg-3 flex-center" style="justify-content: center; text-align: center">
      <div class="card">
        <p><b>Efficient Inventory Management</b></p>
        <hr />
        <p>Stay on top of your products with our comprehensive inventory management system. From cost and pricing to
          quantities and documentation, Kinbrio helps you optimize your inventory and streamline sales reporting.</p>
      </div>
    </div>

    <div class=" col-sm-12 col-md-6 col-lg-3 flex-center" style="justify-content: center; text-align: center">
      <div class="card">
        <p><b>AI-Powered Insights for Smart Decision Making</b></p>
        <hr />
        <p>Harness the power of AI to answer your organizational questions quickly. Our AI powered assistants help you find
          historical chats and provide assistance with answering simple questions, saving you valuable time and effort.
        </p>
      </div>
    </div>

    <div class=" col-sm-12 col-md-6 col-lg-3 flex-center" style="justify-content: center; text-align: center">
      <div class="card">
        <p><b>Creating Your Digital Presence with Kinbrio</b></p>
        <hr />
        <p>Turn your ideas into reality with Kinbrio's full suite of services. From generating landing pages and product
          pages to custom web applications and technical consulting, we make sure your business operates at its full
          potential.</p>
      </div>
    </div>

    <div class="card col-sm-12 col-md-12 col-lg-12"
      style="justify-content: center; text-align: center; max-width: 90%;justify-content: center;">
      <p><b>Join Kinbrio Today!</b></p>
      <hr />
      <p>Experience the power of Kinbrio in revolutionizing your business. Contact us now to explore how our innovative
        software platform can take your organization to new heights. Together, let's build a future of success and
        growth with Kinbrio!</p>
    </div>
  </div> 
</div>
<div class="row" style="justify-content: center; text-align: center;">
  <a class="button" href="/login">Login</a>
  <a class="button" href="/register">Sign Up!</a>
</div>
<div style="background-color:rgba(175, 255, 255, 0.5); text-align: center; padding: 0 3% 0 3%">
  <h4>It's YOUR data, your business, and your communications. Exportable data to make sure you aren't having to fight to
    access your
    own data. Your data isn't being resold to build AI products for competitors. All communication ran off secure matrix
    servers, a portable and extendible protocol that doesn't lock you in to any clients or even our own platform,
    if you don't like us - find someone else and never lose any access to your chat and communications.
    For those with special needs and security requirements, privately run your own instance and secure matrix server on
    a local network!
  </h4>
</div>
{% endblock %}